<nav class="navbar">
  <ul class="navbar-nav">
    <li class="nav-item">Speed</li>
    <li class="nav-item">
      Algoritm
    </li>
    <li class="nav-item has-dropdown"> <a href="#">Theme</a>
      <ul class="dropdown">
        <li class="dropdown-item">
          <button id="light" href="#" (click)=onClicklight()>light</button>
        </li>
        <li class="dropdown-item">
          <button id="dark" href="#" (click)=onClickdark()>dark</button>
        </li>
        <li class="dropdown-item">
          <button id="solar" href="#" (click)=onClicksolar()>solar</button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
